header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(96, 40, 156, 0.7529411765)), to(rgba(96, 40, 156, 0.7529411765))), url("/assets/img/bg.jpg") center/cover;
  background: linear-gradient(rgba(96, 40, 156, 0.7529411765), rgba(96, 40, 156, 0.7529411765)), url("/assets/img/bg.jpg") center/cover;
  height: 800px;
  color: whitesmoke;
  font-family: nunito;
}
header section {
  text-align: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 3px;
}
header section h1 {
  font-size: 6rem;
  max-width: 1200px;
  margin: 0 auto;
  font-weight: 700;
  text-shadow: 4px 5px 2px rgba(0, 0, 0, 0.685);
  font-family: nunito;
  letter-spacing: 3px;
}
header section h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
header section .buttun {
  font-size: 1.4rem;
  width: 250px;
  padding: 10px;
  margin: 0 auto;
}

footer {
  background-color: #1A1423;
}
footer .footer {
  color: whitesmoke;
  height: 150px;
  display: grid;
  grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
footer .footer a {
  color: whitesmoke;
}

.mes-services {
  font-family: Nunito;
  padding: 20px;
  color: white;
  background-color: #1A1423;
  text-align: center;
}
.mes-services h2 {
  text-align: center;
  font-size: 2.3rem;
}
.mes-services h3 {
  font-size: 1.3rem;
  width: 160px;
  padding: 10px;
}
.mes-services .first-part {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-items: center;
  max-width: 1200px;
  margin: 40px auto;
  position: relative;
}
.mes-services .first-part .first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mes-services .first-part .first-child::after {
  content: "";
  border: 2px solid #2F195F;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
}
.mes-services .webdesign {
  grid-template-columns: 70% 30%;
}
.mes-services .webdesign #Webanim {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 250px;
  margin: 5px 0 5px 50px;
  border-radius: 0 30px 0 10px;
  background-image: linear-gradient(120deg, rgba(224, 195, 252, 0.6862745098) 0%, rgba(142, 197, 252, 0.6784313725) 100%);
  -webkit-box-shadow: -20px 20px 2px rgba(96, 40, 156, 0.7529411765);
          box-shadow: -20px 20px 2px rgba(96, 40, 156, 0.7529411765);
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
  -webkit-transform: translateX(-600px);
          transform: translateX(-600px);
  opacity: 0;
  font-size: 1.3rem;
  font-weight: 600;
}
.mes-services .webdesign #Webanim img {
  width: 40%;
}
.mes-services .anim {
  font-size: 1.3rem;
  font-weight: 600;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
  -webkit-transform: translateX(600px);
          transform: translateX(600px);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 250px;
  background-image: linear-gradient(120deg, rgba(224, 195, 252, 0.6862745098) 0%, rgba(142, 197, 252, 0.6784313725) 100%);
  margin: 5px 0 5px 50px;
  border-radius: 30px 0 10px 0;
  -webkit-box-shadow: 20px 20px 2px #2F195F;
          box-shadow: 20px 20px 2px #2F195F;
}
.mes-services .anim img {
  width: 40%;
}
.mes-services button {
  padding: 5px 30px;
  font-size: 1.3rem;
  display: block;
  margin: 60px auto 20px;
}

.projet-container {
  height: 1150px;
  background-color: #774C60;
}
.projet-container .git-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 12, 54, 0.8274509804)), to(rgba(32, 12, 54, 0.8274509804))), url("/assets/img/purple-bg.jpg") center/cover;
  background: linear-gradient(rgba(32, 12, 54, 0.8274509804), rgba(32, 12, 54, 0.8274509804)), url("/assets/img/purple-bg.jpg") center/cover;
  height: 300px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 350px;
}
.projet-container .git-container .git {
  text-align: center;
  font-size: 1.3rem;
  color: whitesmoke;
}
.projet-container .git-container .git a {
  color: whitesmoke;
  font-size: 1.5rem;
}
.projet-container .git-container .QRcode {
  width: 230px;
}
.projet-container .caroussel {
  position: relative;
  height: 400px;
}
.projet-container .caroussel .btn {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  font-size: 2.6rem;
  z-index: 150;
  cursor: pointer;
  color: whitesmoke;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 65%;
}
.projet-container .caroussel #prev {
  left: 5px;
}
.projet-container .caroussel #next {
  right: 5px;
}
.projet-container .caroussel .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  top: 50%;
  height: 400px;
}
.projet-container .caroussel .slide a {
  cursor: pointer;
}
.projet-container .caroussel .slide a img {
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 10px;
}
.projet-container .caroussel .effect-1 {
  z-index: 0;
  left: 10%;
  max-height: 100px;
  opacity: 0.2;
  width: 100px;
}
.projet-container .caroussel .effect-2 {
  max-height: 200px;
  z-index: 1;
  opacity: 0.4;
  left: 20%;
  width: 200px;
}
.projet-container .caroussel .effect-3 {
  max-height: 300px;
  z-index: 2;
  opacity: 0.6;
  left: 35%;
  width: 300px;
}
.projet-container .caroussel .effect-4 {
  max-height: 400px;
  z-index: 3;
  opacity: 1;
  width: 400px;
  left: 50%;
  -webkit-box-shadow: -2px 5px 16px 6px rgba(0, 0, 0, 0.349);
          box-shadow: -2px 5px 16px 6px rgba(0, 0, 0, 0.349);
}
.projet-container .caroussel .effect-5 {
  max-height: 300px;
  z-index: 2;
  width: 300px;
  opacity: 0.6;
  left: 65%;
}
.projet-container .caroussel .effect-6 {
  max-height: 200px;
  z-index: 1;
  width: 200px;
  left: 80%;
  opacity: 0.4;
}
.projet-container .caroussel .effect-7 {
  z-index: 0;
  max-height: 100px;
  width: 100px;
  left: 90%;
  opacity: 0.2;
}

.about {
  height: 800px;
  background-color: #EACDC2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.about .photo {
  width: 50%;
}
.about .photo img {
  width: 50%;
}

nav {
  height: 60px;
  width: 100%;
  background-color: #1A1423;
  font-family: nunito;
  color: whitesmoke;
  position: fixed;
  z-index: 1;
}
nav div {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100%;
  max-width: 1300px;
  padding: 0px 20px;
  margin: 0 auto;
}
nav div span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
nav ul li {
  padding: 0 20px;
  letter-spacing: 1.5px;
  font-size: 1.3rem;
  font-weight: 700;
}
nav ul li:hover {
  color: rgba(96, 40, 156, 0.7529411765);
}
nav ul .activate {
  color: rgba(96, 40, 156, 0.7529411765);
}
nav ul button:hover {
  scale: 2rem;
}

.buttun {
  padding: 5px 20px;
  border-radius: 8px;
  color: whitesmoke;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.288);
  background-color: rgb(0, 104, 0);
  font-size: 1.2rem;
  font-weight: 700;
  font-family: nunito;
  border: none;
  text-decoration: none;
}
.buttun:hover {
  scale: 1.1;
  color: #2F195F;
}

.bouton {
  padding: 5px 20px;
  border-radius: 8px;
  color: whitesmoke;
  background-color: #774C60;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.288);
  font-size: 1.2rem;
  font-weight: 700;
  font-family: nunito;
  border: none;
}
.bouton:hover {
  scale: 1.1;
  color: #2F195F;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 30px;
  font-family: nunito;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 3px;
}

.pop-up {
  height: 200px;
  text-align: left;
  width: 700px;
  padding: 20px;
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  -webkit-box-shadow: -5px 5px 20px 2px #1A1423;
          box-shadow: -5px 5px 20px 2px #1A1423;
  border-radius: 15px 0 0 15px;
  color: #1A1423;
  position: absolute;
  top: 15%;
  left: 80%;
  -webkit-transform: translateX(350px);
          transform: translateX(350px);
}
.pop-up .pop-up-container {
  position: relative;
}
.pop-up .pop-up-container i {
  position: absolute;
  right: 40px;
  font-size: 1.2rem;
  color: #1A1423;
  cursor: pointer;
}
.pop-up .pop-up-container h4 {
  font-family: nunito;
  font-size: 1.5rem;
  font-weight: 800;
}
.pop-up .pop-up-container address {
  font-family: nunito;
  padding: 20px;
  letter-spacing: 2px;
  font-size: 1.5rem;
  line-height: 40px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: Faustina;
  letter-spacing: 2px;
}

body {
  height: 100vh;
}/*# sourceMappingURL=index.css.map */