.mes-services{
    font-family: Nunito;
    padding: 20px;
    color: white;
    background-color: $color6;
    text-align: center;
    // background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    h2{
        text-align: center;
        font-size: 2.3rem;
        
    }
    h3{
        font-size: 1.3rem;
        width: 160px;
        padding: 10px;
    }

.first-part{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
    max-width: 1200px;
    margin: 40px auto;
    position: relative;
    .first-child{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        &::after{
            content: "";
            border: 2px solid $color3;
            height: 270px;
            width: 270px;
            border-radius: 50%;
            position: absolute;
            z-index: 1;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
        }
    }
}
    .webdesign{
        grid-template-columns: 70% 30%;
        #Webanim{
            img {
                width: 40%;
            }
            flex-direction: row;
            text-align: center;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            height: 250px;
            margin: 5px 0 5px 50px;
            border-radius: 0 30px 0 10px;
            background-image: linear-gradient(120deg, #e0c3fcaf 0%, #8ec5fcad 100%);
            box-shadow: -20px 20px 2px $color5; 
            transition: 1.5s ease;
            transform: translateX(-600px);
            opacity: 0;
            font-size: 1.3rem;
            font-weight: 600;
        }
    }

.anim{
    font-size: 1.3rem;
    font-weight: 600;
    transition: 1.5s ease;
    transform: translateX(600px);
    opacity: 0;

    img{
        width: 40%;
    }
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 250px;
    background-image: linear-gradient(120deg, #e0c3fcaf 0%, #8ec5fcad 100%);
    margin: 5px 0 5px 50px;
    border-radius: 30px 0 10px 0;
    box-shadow: 20px 20px 2px $color3; ;   

}

button{
   padding: 5px 30px;
   font-size: 1.3rem;
   display: block;
   margin: 60px auto 20px;
}
}